* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

:root {
    --nav-text-color: rgba(230, 83, 60, 1);
    --discription-color: rgba(255, 255, 255, 0.5);
}


/* Shared Styles */
.display-flex {
    display: flex;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}






/* navbar section */
header {
    margin-top: 3rem;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 98px;
}

.nav-logo {
    font-size: 3rem;
    font-style: italic;
    color: var(--nav-text-color);
}

nav ul {
    list-style: none;
    gap: 3rem;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.125rem;
}

.nav-links {
    border: 1px solid var(--nav-text-color);
    padding: 12px 25px 12px 5px;
    border-radius: 46px;
}

.home-btn a {
    padding: 8px 20px;
    background-color: var(--nav-text-color);
    border-radius: 46px;
}

.nav-bar {
    display: none;
}

/* Banner-Section Styles */
#banner-section {
    justify-content: space-between;
}

.banner-content {
    max-width: 520px;
}

.banner-heading {
    font-size: 4.875rem;
    padding-bottom: 28px;
}

.banner-description {
    padding-bottom: 28px;
    color: var(--discription-color);
    font-size: 1rem;
}

.banner-btn-div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.banner-btn {
    padding: 16px 40px;
    text-decoration: none;
    background-color: var(--nav-text-color);
    border: none;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
}

#banner-secondary-btn {
    background-color: black;
    border: 1px solid white;
}




/* Responsive Design */
@media screen and (max-width:576px) {
    .nav-links li a {
        display: none;
    }

    .nav-bar {
        display: inline;
        font-size: 1.8rem;
    }
}